
<div class="title">
   <h1>Adventure</h1>
   <h1>Lunch.</h1> 
</div>

<div class="columns-container">

  	<div class="left-column">
  		<h2>Adventure What?</h2>
  		<p>
  		    Adventure Lunch is a weekly outing to an exotic  
  		    culinary experience in New York City. The purpose is simple: try 
  		    new foods and make new friends. To attend is free and anyone is 
  		    welcome.
  		</p>
  	</div>

  	<div class="right-column">
  		<h2>Details</h2>
        <p>The next adventure is planned for January 22nd, 2016.</p>
        <p>Location: TBD</p>
  	</div>
</div>
