.title {
    margin-bottom: 40px;
    h1 {
        margin-left: 5%;
        font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    } 
    @media all and (min-width: 960px) {
    h1{
        font-size: 100px;
      }
    #domain-suffix {
        font-size: 60px;
      }  
    }
    
    @media all and (max-width: 959px) and (min-width: 600px) {
    h1{
        font-size: 11vw;
      }
    #domain-suffix {
        font-size: 6vw;
      }
    }
    
    @media all and (max-width: 599px) and (min-width: 50px) {
    h1{
        font-size: 15vw;
      }
    #domain-suffix {
        font-size: 7vw;
      }
    }
}

.columns-container img {
    max-width: 100%;
}

.left-column, .right-column {  
    border: 1px solid  #ccc; 
    padding: 1.25em; 
    margin: .5em; 
}

@media screen and (min-width: 47.5em ) {
 
  .columns-container {
      max-width: 1000px;
      margin-left: 100px;
  }
 
  .left-column {
    margin-right: 20em;
    float: left;
  }
 
  .right-column {
    width: 18.75em;
    margin-left: -19.3em;
    float: left;
  }
  .bottom {
      clear: left;
  }
}

.past_lunches {
    padding-top: 20px;
}

#past_lunch {
    padding: 5px 0;
}

h1, h2, h3, p {
   font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
}