.show_lunch_container{
    border: 1px solid #ccc;
    padding: 1.25em;
    margin: .5em;
}

#reviews_title_underline {
    margin-bottom: 20px;
}

#review_container {
    padding-bottom: 25px;
}

#review_body {
    width: 100%;
    max-width: 600px;
    height: 300px;
}

#review_title {
    margin-bottom: 10px;
    min-width: 100px;
}
.review_title{
    padding-top: 10px;
}

.review_author {
    font-size: 12px;
    padding-bottom: 10px;
}

.review_body {
      font-size: 14px;
      padding-bottom: 20px;
}

.sword_image {
    width: 10%;
    max-width: 100px;
}

.lunch_description {
    padding-top: 20px;
}

.show_review_form {
    display: none;
    margin-bottom: 20px;
}

#leave_review_btn {
    padding: 20px;
    border-radius: 5px;
    p {
        font-size: 18px;
    }
}

#leave_review_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #0016a3));
	background:-moz-linear-gradient(top, #79bbff 5%, #0016a3 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #0016a3 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #0016a3 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #0016a3 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #0016a3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#0016a3',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	margin-bottom: 10px;
}
#leave_review_btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0016a3), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #0016a3 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #0016a3 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #0016a3 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #0016a3 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #0016a3 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0016a3', endColorstr='#79bbff',GradientType=0);
	background-color:#0016a3;
}

#leave_review_btn:active {
	position:relative;
	top:1px;
}

// Form Styling

.new_review {
    padding: 10px;
    background: #b3ccff;
    max-width: 800px;
}

#review_title {
    padding: 10px;
    font-size: 14px;
}

#review_body {
    padding: 10px;
    font-size: 18px;
}

#form_prompt {
    color: navy;
    margin-bottom: 5px;
}
