.show_lunch_container{
    border: 1px solid #ccc;
    padding: 1.25em;
    margin: .5em;
}

#reviews_title_underline {
    margin-bottom: 20px;
}

#review_container {
    padding-bottom: 25px;
}

#review_body {
    width: 100%;
    max-width: 600px;
    height: 300px;
}

#review_title {
    margin-bottom: 10px;
    min-width: 100px;
}
.review_title{
    padding-top: 10px;
}

.review_author {
    font-size: 12px;
    padding-bottom: 10px;
}

.review_body {
      font-size: 14px;
      padding-bottom: 20px;
}

.sword_image {
    width: 10%;
    max-width: 100px;
}

.lunch_description {
    padding-top: 20px;
}
