<nav class="clearfix">
    <ul class="clearfix">
        <li><a href="/">Home</a></li>
        <li><a href="/next_lunch">Upcoming</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/past_lunches">Past Lunches</a></li>
        <li><a href="/contact">Contact</a></li>
        <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
            <li><a href="/users/sign_in">Log In</a></li>
        <% end %>
    </ul>
    <a href="#" id="pull">Menu</a>
</nav>